.header-line{
	display: flex;
	width: 1200px;
	height: 700px;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 30px;
	margin-left: 50px;
	
}
.right-header{
	color: #3D37F1;
	font-size: 20px;
	font-style: bold;
	
}

.left-header{
	width: 195px;
}
li{
	margin-left: 10px;

}

.content-box1{
	display: flex;
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 50px;
	position: absolute;
	top: 200px;

}
.right-content{
	width: 400px;
	height: 400px;
	
}
.left-content{
	width: 500px;
	height: 450px;
	font-size: 60px;
	font-style: Bold;
	color: #534D4D;
	font-display:block;

}
.paragraph1{
	color: #534D4D;
	font-size: 20px;
}
.klick1{

	margin-top: 90px;
	display: flex;
	justify-content: space-around;	
	align-content: flex-end;
	align-items: center;
	border-radius: 38px;
	background: #4540EF;
	height: 50px;
	width: 200px;
	font-style: bold;
	color: #ffff;
	font-size: 19px;
}
.main-block2{

	width: 1500px;
	height: 1000p;
	margin:0 auto;
	background:#FBFCFD

}
.maintext-block{
	width: 550px;
	height: 230px;
	color: #3D37F1;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content:safe center;
	margin-top: 10px;
	margin-left: 500px;

}
.explain-text1{
	margin-top: 10px;
	width: 550px;
	color: #5A5454;
	text-align: center;

}
.explain-text2{
	margin-top: 20px;
	width: 550px;
	color: #5A5454;
	text-align: center;

}
.divconainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*width: 800px;
	height: 700px;
	background: #FBFCFD;*/	
}
.sameboxes{
	width: 250px;
	height: 360px;
	margin-left: 100px;
	background: #FBBA77;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;     

}
.icon{

	padding-top: 20px;
	margin-bottom: 57px;
	

}
.below-icon-text{
	font-size: 22px;
	font-weight: 400px;
	color: #FFFFFF;
	margin-bottom: 13px;
}
.explain-text{
	width: 200px;
	text-align: center;
	font-size: 16px;
	font-weight: 400px;
	color: #FFFFFF;
	margin-bottom: 15px;

}
.klick-box{
	width: 131px;
	height: 40px;
	border-radius: 23px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.klick-text{
	
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;	
}

/*hoover-box-text*/
.klick-text:hover{
	color: black;
}
.klick-box:hover{
	background-color: white;

}

.sameboxes:nth-child(1) {
	background: #FBBA77;
	margin-bottom: 60px;
}

.sameboxes:nth-child(2) {
	background: #41EAE3;
	margin-bottom: 60px;
}

.sameboxes:nth-child(3) {
	background: #69529F;
	margin-bottom: 60px;
}

.sameboxes:nth-child(4) {
	background: #4386D2;
	margin-bottom: 60px;
}

.sameboxes:nth-child(5) {
	background: #A5A2F6;
	margin-bottom: 60px;
}

.sameboxes:nth-child(6) {
	background: #FF8088;
	margin-bottom: 60px;
}

