.header-line{
	display: flex;
	width: 1200px;
	height: 700px;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 30px;
	margin-left: 50px;
	
}
.right-header{
	color: #3D37F1;
	font-size: 20px;
	font-style: bold;
	
}

.left-header{
	width: 195px;
}
li{
	margin-left: 10px;

}

.content-box1{
	display: flex;
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	margin-top: 10px;
	margin-left: 50px;
	position: absolute;
	top: 200px;

}
.right-content{
	width: 400px;
	height: 400px;
	
}

.left-content{
	width: 500px;
	height: 450px;
	font-size: 60px;
	font-style: Bold;
	color: #534D4D;
	font-display:block;


}
.paragraph1{
	color: #534D4D;
	font-size: 20px;
}
.klick1{

	margin-top: 90px;
	display: flex;
	justify-content: space-around;	
	align-content: flex-end;
	align-items: center;
	border-radius: 38px;
	background: #4540EF;
	height: 50px;
	width: 200px;
	font-style: bold;
	color: #ffff;
	font-size: 19px;
}
.main-block2{
	top: 1400px;
	width: 1500px;
	margin:0 auto;
	background:#FBFCFD

}
.maintext-block{
	width: 550px;
	height: 230px;
	color: #3D37F1;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content:safe center;
	margin-top: 10px;
	margin-left: 500px;

}
.explain-text1{
	margin-top: 10px;
	width: 550px;
	color: #5A5454;
	text-align: center;


}
.explain-text2{
	margin-top: 20px;
	width: 550px;
	color: #5A5454;
	text-align: center;

}


.divconainer{
	width: 800px;
	height: 700px;
	

	
}
.sameboxes{
	width: 250px;
	height: 360px;
	background: #FBBA77;
	border: #707070;
	margin-top: 10px;
	margin-left: 200px;
	display: flex;
	flex-wrap: wrap;
    text-align: center;
    align-content: center;
    

}
.icons{
	size: 10px;	

}
.klick-text{
	width: 120px;
	height: 25px;
	color: black;
	padding-top: 10px;
	background: #FBBA77;;
	border-radius: 70px;
	align-content: center;
	border-color: #541515;
	
}
.klick-text:hover{
	background-color: white;

}
.texts{
	color: white;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

